@import "admin/variables";

.admin-form {
  max-width: 60rem;

  &-footer {
    border-top: 1px solid color-mix(in srgb, var(--brand-bg-color), black 20%);
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: right;
  }
}
